@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700,100i,200i,300i,400i,500i,600i,700i&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 6.875rem;
  line-height: 1.04545455;
}
.display-1 > .mbr-iconfont {
  font-size: 11rem;
}
@media (max-width: 1440px) {
  .display-1 {
    font-size: 4.52302632rem;
    line-height: 1.064;
  }
}
@media (max-width: 1280px) {
  .display-1 {
    font-size: 4.02046784rem;
    line-height: 1.08818182;
  }
}
@media (max-width: 1024px) {
  .display-1 {
    font-size: 2.75rem;
    line-height: 1.09090909;
  }
}
.display-2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 4.25rem;
  line-height: 1.05882353;
}
.display-2 > .mbr-iconfont {
  font-size: 6.8rem;
}
@media (max-width: 1440px) {
  .display-2 {
    font-size: 3.125rem;
    line-height: 1.14;
  }
}
@media (max-width: 1280px) {
  .display-2 {
    font-size: 45px;
    line-height: 52px;
    font-size: 2.81456954rem;
    line-height: 1.15470588;
  }
}
@media (max-width: 1024px) {
  .display-2 {
    font-size: 2.0631068rem;
    line-height: 1.09058824;
  }
}
.display-4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.44444444;
}
.display-4 > .mbr-iconfont {
  font-size: 1.125rem;
}
@media (max-width: 1024px) {
  .display-4 {
    font-size: 1.00446429rem;
    line-height: 1.36888889;
  }
}
.display-5 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
  line-height: 1.5625;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
@media (max-width: 1440px) {
  .display-5 {
    font-size: 1.6rem;
    line-height: 1.640625;
  }
}
@media (max-width: 1280px) {
  .display-5 {
    font-size: 1.36986301rem;
    line-height: 1.36875;
  }
}
@media (max-width: 1024px) {
  .display-5 {
    font-size: 1.13636364rem;
    line-height: 1.65;
  }
}
.display-7 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  line-height: 1.33333333;
}
.display-7 > .mbr-iconfont {
  font-size: 2.4rem;
}
@media (max-width: 1440px) {
  .display-7 {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}
@media (max-width: 1280px) {
  .display-7 {
    font-size: 1.12781955rem;
    line-height: 1.33;
  }
}
@media (max-width: 1024px) {
  .display-7 {
    font-size: 1.12781955rem;
    line-height: 1.27458333;
  }
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
/* Buttons */
.btn {
  padding: 12px 15px;
  border-radius: 4px;
}
.btn-sm {
  padding: 12px 15px;
  border-radius: 4px;
}
.btn-md {
  padding: 12px 15px;
  border-radius: 4px;
}
.btn-lg {
  padding: 21px 10px;
  border-radius: 4px;
}
.bg-primary {
  background-color: #3a6686 !important;
}
.bg-success {
  background-color: #dba506 !important;
}
.bg-info {
  background-color: #d42764 !important;
}
.bg-warning {
  background-color: #ffffff !important;
}
.bg-danger {
  background-color: #f2261b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #3a6686 !important;
  border-color: #3a6686 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #3a6686;
  border-color: #3a6686;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3a6686 !important;
  border-color: #3a6686 !important;
}
.btn-primary:hover {
  background-color: #46877e !important;
  border-color: #46877e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f2261b !important;
  border-color: #f2261b !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #f2261b;
  border-color: #f2261b;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f2261b !important;
  border-color: #f2261b !important;
}
.btn-secondary:hover {
  background-color: #ce160c !important;
  border-color: #ce160c !important;
}
.btn-info,
.btn-info:active {
  background-color: #d42764 !important;
  border-color: #d42764 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #d42764;
  border-color: #d42764;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d42764 !important;
  border-color: #d42764 !important;
}
.btn-info:hover {
  background-color: #a91f50 !important;
  border-color: #a91f50 !important;
}
.btn-success,
.btn-success:active {
  background-color: #dba506 !important;
  border-color: #dba506 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #dba506;
  border-color: #dba506;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #dba506 !important;
  border-color: #dba506 !important;
}
.btn-success:hover {
  background-color: #a98005 !important;
  border-color: #a98005 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f2261b !important;
  border-color: #f2261b !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #f2261b;
  border-color: #f2261b;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f2261b !important;
  border-color: #f2261b !important;
}
.btn-danger:hover {
  background-color: #f5544b !important;
  border-color: #f5544b !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:hover {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:hover {
  background-color: #666666 !important;
  border-color: #666666 !important;
}
.btn-primary-outline {
  border: 1px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #3a6686;
  color: #3a6686;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #3a6686 !important;
  border-color: #3a6686;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3a6686 !important;
  border-color: #3a6686 !important;
}
.btn-secondary-outline {
  border: 1px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #f2261b;
  color: #f2261b;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #f2261b !important;
  border-color: #f2261b;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f2261b !important;
  border-color: #f2261b !important;
}
.btn-info-outline {
  border: 1px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #d42764;
  color: #d42764;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #d42764 !important;
  border-color: #d42764;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #d42764 !important;
  border-color: #d42764 !important;
}
.btn-success-outline {
  border: 1px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #dba506;
  color: #dba506;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #dba506 !important;
  border-color: #dba506;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #dba506 !important;
  border-color: #dba506 !important;
}
.btn-warning-outline {
  border: 1px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-danger-outline {
  border: 1px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #f2261b;
  color: #f2261b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background: #f2261b !important;
  border-color: #f2261b;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f2261b !important;
  border-color: #f2261b !important;
}
.btn-black-outline {
  border: 1px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #333333 !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  border: 1px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white-outline.btn {
  color: #333333 !important;
}
.text-primary {
  color: #3a6686 !important;
}
.text-secondary {
  color: #f2261b !important;
}
.text-success {
  color: #dba506 !important;
}
.text-info {
  color: #d42764 !important;
}
.text-warning {
  color: #ffffff !important;
}
.text-danger {
  color: #f2261b !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #568eb6 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #9e1109 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #785a03 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #7e173b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #ffffff !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #9e1109 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #666666 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #3a6686 !important;
}
.alert-success {
  background-color: #dba506;
}
.alert-info {
  background-color: #d42764;
}
.alert-warning {
  background-color: #ffffff;
}
.alert-danger {
  background-color: #f2261b;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3a6686;
  border-color: #3a6686;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #3a6686;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7aa6c5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fde9b0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f6d1de;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fddedc;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  line-height: 1.33333333;
}
.form-control > .mbr-iconfont {
  font-size: 2.4rem;
}
@media (max-width: 1440px) {
  .form-control {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}
@media (max-width: 1280px) {
  .form-control {
    font-size: 1.12781955rem;
    line-height: 1.33;
  }
}
@media (max-width: 1024px) {
  .form-control {
    font-size: 1.12781955rem;
    line-height: 1.27458333;
  }
}
blockquote {
  border-color: #3a6686;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #3a6686;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #3a6686;
  border-bottom-color: #3a6686;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #3a6686 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #f2261b !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.link.display-4 a {
  font-size: 1.0125rem;
  line-height: 1;
}
.cid-scAcVMzFIb {
  height: 0 !important;
}
.cid-scAcVMzFIb .dropdown-item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #f2261b;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-scAcVMzFIb .dropdown-item:hover:before {
  opacity: 1!important;
}
.cid-scAcVMzFIb .nav-item:focus,
.cid-scAcVMzFIb .nav-link:focus {
  outline: none;
}
.cid-scAcVMzFIb .text-white:hover,
.cid-scAcVMzFIb .text-white:active,
.cid-scAcVMzFIb .text-white:focus {
  color: white!important;
}
.cid-scAcVMzFIb .navbar {
  max-width: 1000px;
  margin: auto;
  margin-top: -10px;
  opacity: 0.9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 77px;
  transition: all .3s;
  background: #f2261b;
}
.cid-scAcVMzFIb .navbar:hover {
  opacity: 1;
  margin-top: 0;
}
.cid-scAcVMzFIb .navbar.opened {
  transition: all .3s;
  background: #f2261b !important;
}
.cid-scAcVMzFIb .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-scAcVMzFIb .navbar .navbar-collapse {
  justify-content: center;
  z-index: 1;
}
.cid-scAcVMzFIb .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-scAcVMzFIb .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-scAcVMzFIb .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-scAcVMzFIb .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-scAcVMzFIb .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-scAcVMzFIb .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-scAcVMzFIb .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-scAcVMzFIb .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-scAcVMzFIb .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-scAcVMzFIb .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-scAcVMzFIb .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-scAcVMzFIb .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-scAcVMzFIb .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-scAcVMzFIb .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-scAcVMzFIb .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-scAcVMzFIb .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-scAcVMzFIb .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-scAcVMzFIb .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-scAcVMzFIb .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-scAcVMzFIb .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-scAcVMzFIb .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-scAcVMzFIb .navbar.navbar-short {
  background: #f2261b !important;
  min-height: 60px;
}
.cid-scAcVMzFIb .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-scAcVMzFIb .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-scAcVMzFIb .section {
  position: relative;
  overflow: visible!important;
}
.cid-scAcVMzFIb .dropdown-item {
  font-weight: 400!important;
  color: black!important;
}
.cid-scAcVMzFIb .dropdown-item:hover {
  color: black!important;
}
.cid-scAcVMzFIb .dropdown-menu {
  background-color: white!important;
}
.cid-scAcVMzFIb .navbar .dropdown.open > .dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(245, 84, 75, 0.35);
  display: block;
}
.cid-scAcVMzFIb .nav-link:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  background-color: #f2261b;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.cid-scAcVMzFIb .nav-item:hover .nav-link:before {
  opacity: 1!important;
}
@media (min-width: 992px) {
  .cid-scAcVMzFIb .nav-item {
    position: relative;
  }
}
.cid-scAcVMzFIb .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-scAcVMzFIb .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-scAcVMzFIb .dropdown .dropdown-menu .dropdown-item:hover {
  padding-left: 2rem;
  padding-right: 1rem;
}
.cid-scAcVMzFIb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-scAcVMzFIb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-scAcVMzFIb .collapsed {
  flex-direction: row!important;
}
.cid-scAcVMzFIb .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-scAcVMzFIb .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-scAcVMzFIb .navbar-caption {
  font-weight: 600!important;
}
.cid-scAcVMzFIb .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-scAcVMzFIb .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-scAcVMzFIb .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-scAcVMzFIb .dropdown-item.active,
.cid-scAcVMzFIb .dropdown-item:active {
  background-color: transparent;
}
.cid-scAcVMzFIb .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-scAcVMzFIb .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-scAcVMzFIb .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-scAcVMzFIb .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f2261b;
}
.cid-scAcVMzFIb .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-scAcVMzFIb ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-scAcVMzFIb button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-scAcVMzFIb button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-scAcVMzFIb button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-scAcVMzFIb button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-scAcVMzFIb button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-scAcVMzFIb button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-scAcVMzFIb nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-scAcVMzFIb nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-scAcVMzFIb nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-scAcVMzFIb nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-scAcVMzFIb .navbar-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem 1rem;
  position: fixed;
}
.cid-scAcVMzFIb .nav-link {
  font-weight: 600!important;
}
.cid-scAcVMzFIb a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-scAcVMzFIb .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-scAcVMzFIb .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-scAcVMzFIb .icons-menu span {
  font-size: 26px;
  color: #3a6686;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-scAcVMzFIb .navbar {
    height: 77px;
  }
  .cid-scAcVMzFIb .navbar.opened {
    height: auto;
  }
  .cid-scAcVMzFIb .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-scSPztwvqK {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("../../../assets/images/poster-4545-2000x1600.jpg");
}
.cid-scSPztwvqK .mbr-section-title {
  margin-bottom: 35px;
}
.cid-scSPztwvqK .mbr-section-title b,
.cid-scSPztwvqK .mbr-section-title strong {
  font-weight: 500;
}
.cid-scSPztwvqK .figure {
  display: block;
  position: relative;
  z-index: 1;
}
.cid-scSPztwvqK .figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 119px;
  height: 119px;
  top: -100px;
  left: -50px;
  background-image: url("../../../assets/images/geometrical.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .cid-scSPztwvqK .figure:before {
    width: 89px;
    height: 89px;
    top: -55px;
    left: -18px;
  }
}
.cid-scSLVA4o2O {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #000000;
  overflow: hidden;
}
.cid-scSLVA4o2O svg {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translate(-50%) scale(2, 1.6);
}
.cid-scSLVA4o2O #e2_shape {
  fill: #000000 !important;
}
.cid-scSLVA4o2O img {
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 10px 55px 5px rgba(245, 84, 75, 0.35);
}
@media (max-width: 576px) {
  .cid-scSLVA4o2O img {
    width: 90%!important;
  }
}
.cid-scSLVA4o2O H1 {
  color: #ffffff;
  text-align: center;
}
.cid-scSIIndp5j {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-scSIIndp5j .card-img {
  position: relative;
  overflow: hidden;
}
.cid-scSIIndp5j section {
  position: relative;
}
.cid-scSIIndp5j a {
  font-weight: 600;
}
.cid-scSIIndp5j .btn-sm {
  padding: 0.6rem 2.2rem;
}
.cid-scSIIndp5j .card-img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  height: 100%;
  left: 0;
}
.cid-scSIIndp5j .card-box {
  padding: 1rem;
  background-color: #000000;
  width: 85%;
  margin: auto;
  margin-top: -40px;
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  height: 80px;
  display: flex;
  align-items: center;
}
.cid-scSIIndp5j .card-box h3 {
  font-weight: 600;
  width: 100%;
  display: inline-block;
  margin: 0;
}
.cid-scSIIndp5j .card-wrapper {
  height: 100%;
}
.cid-scSIIndp5j .card-wrapper:hover .card-img:before {
  opacity: 0.3;
  transform: perspective(100px) rotateY(0deg);
}
.cid-scSIIndp5j .card-wrapper:hover .card-title a {
  color: #f2261b !important;
}
.cid-scSIIndp5j .text {
  color: #767676;
}
.cid-scSIIndp5j .card-title {
  color: #ffffff;
}
.cid-scSIIndp5j .title {
  text-align: center;
}
.cid-scSIIndp5j .mbr-section-title {
  color: #f2261b;
}
.cid-scSZ7RswYM {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-scSZ7RswYM h4 {
  margin-bottom: 0;
}
.cid-scSZ7RswYM .card:hover img {
  box-shadow: 0 10px 55px 5px rgba(245, 84, 75, 0.35);
}
.cid-scSZ7RswYM .btn[class*="-outline"] {
  border: none;
  padding: 0;
  margin: 0 0.25rem!important;
  box-shadow: none!important;
}
.cid-scSZ7RswYM .btn[class*="-outline"] span {
  order: 2;
  font-size: 1.1rem;
  padding-top: 3px;
  transition: padding 0.3s!important;
}
.cid-scSZ7RswYM .btn[class*="-outline"]:hover span {
  padding-left: 10px;
}
.cid-scSZ7RswYM .btn[class*="-outline"]:hover {
  background-color: transparent!important;
  color: #3a6686 !important;
  box-shadow: none!important;
}
.cid-scSZ7RswYM .btn[class*="-outline"]:active,
.cid-scSZ7RswYM .btn[class*="-outline"]:focus {
  background-color: transparent!important;
  box-shadow: none!important;
}
.cid-scSZ7RswYM .card-box {
  padding-top: 2rem;
}
.cid-scSZ7RswYM .card-wrapper {
  height: 100%;
}
.cid-scSZ7RswYM .mbr-iconfont {
  padding-left: 0.4rem;
}
.cid-scSZ7RswYM img {
  transition: all 0.3s;
  border-radius: 8px;
}
.cid-scSZ7RswYM .card-title {
  color: #149dcc;
}
.cid-scSZ7RswYM .main-title {
  color: #f2261b;
  text-align: center;
}
.cid-scSZ7RswYM .mbr-text,
.cid-scSZ7RswYM .mbr-link-btn {
  color: #ffffff;
}
.cid-scT2qpuYJd {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("../../../assets/images/story-boards-5-2000x1414.jpeg");
}
.cid-scT2qpuYJd .mbr-section-title {
  margin-bottom: 35px;
}
.cid-scT2qpuYJd .mbr-section-title b,
.cid-scT2qpuYJd .mbr-section-title strong {
  font-weight: 500;
}
@media (max-width: 1024px) {
  .cid-scT2qpuYJd .figure:before {
    width: 89px;
    height: 89px;
    top: -55px;
    left: -18px;
  }
}
.cid-scT0cpaA7B {
  padding-top: 60px;
  padding-bottom: 75px;
  background: #000000;
}
.cid-scT0cpaA7B .team-card .image-wrap {
  overflow: hidden;
}
.cid-scT0cpaA7B .team-card .image-wrap img {
  transition: all .5s;
}
.cid-scT0cpaA7B .team-card .image-wrap:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-scT0cpaA7B .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-scT0cpaA7B .team-card {
  margin-bottom: 2rem;
}
.cid-scT0cpaA7B .card-wrap {
  background: #ffffff;
}
.cid-scT0cpaA7B .card-wrap .image-wrap img {
  width: 100%;
}
.cid-scT0cpaA7B .card-wrap .content-wrap {
  padding: 1.5rem;
}
.cid-scT0cpaA7B .card-wrap .content-wrap .mbr-section-btn {
  padding-top: 1rem;
}
.cid-scT0cpaA7B .card-wrap .content-wrap .mbr-section-btn .btn {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-scT0cpaA7B .team-card.last-card {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-scT0cpaA7B .team-card.last-row-card {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .cid-scT0cpaA7B .team-card:not(.first-row-card) {
    margin-bottom: 0;
  }
}
.cid-scT0cpaA7B .main-title {
  color: #f2261b;
}
.cid-scT0cpaA7B .card-text,
.cid-scT0cpaA7B .mbr-section-btn {
  text-align: left;
}
.cid-scT0cpaA7B .card-title {
  text-align: left;
}
.cid-scT0cpaA7B .mbr-role {
  text-align: right;
  color: #f2261b;
}
.cid-scT4b1gFXH {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-scT4b1gFXH H1 {
  color: #232323;
}
.cid-scT4b1gFXH .mbr-text,
.cid-scT4b1gFXH .mbr-section-btn {
  color: #ffffff;
}
.cid-scT4b1gFXH .img-box {
  position: relative;
}
.cid-scT4b1gFXH .card-ico span {
  font-size: 96px;
  color: #3a6686;
  padding: 0.6rem;
  margin-right: 1.5rem;
  border-radius: 8px;
}
.cid-scT4b1gFXH .card-ico .ico1 {
  background-color: #4249cc;
}
.cid-scT4b1gFXH .mbr-iconfont {
  transition: all 0.3s;
  color: #ffffff !important;
  font-size: 1rem !important;
}
.cid-scT4b1gFXH .card {
  display: flex;
  flex-direction: row;
  max-width: 350px;
}
.cid-scT4b1gFXH .img1 {
  position: absolute;
  top: 0;
  left: 3rem;
  z-index: 1;
}
.cid-scT4b1gFXH .img2 {
  position: absolute;
  bottom: 0;
  right: 3rem;
  z-index: 2;
}
.cid-scT4b1gFXH img {
  width: 48%;
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(245, 84, 75, 0.35);
}
@media (max-width: 992px) {
  .cid-scT4b1gFXH .img-box {
    height: 500px;
  }
  .cid-scT4b1gFXH .img1 {
    left: 1rem;
  }
  .cid-scT4b1gFXH .img2 {
    right: 1rem;
  }
  .cid-scT4b1gFXH img {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .cid-scT4b1gFXH img {
    width: 60%;
  }
  .cid-scT4b1gFXH .img-box {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .cid-scT4b1gFXH .author-box {
    justify-content: center;
  }
  .cid-scT4b1gFXH .card {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0!important;
  }
  .cid-scT4b1gFXH .card .card-ico {
    margin-bottom: 2rem;
  }
  .cid-scT4b1gFXH .card:hover {
    box-shadow: none;
    transform: none;
  }
  .cid-scT4b1gFXH .card-ico span {
    margin-right: 0rem;
  }
}
.cid-scT4b1gFXH .author-box {
  display: flex;
  flex-direction: row;
}
.cid-scT4b1gFXH .face {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: none;
  margin: 0rem;
}
.cid-scT4b1gFXH .author {
  padding-left: 2rem;
  margin: auto 0;
}
.cid-scT4b1gFXH h3,
.cid-scT4b1gFXH h4 {
  margin: 0;
  padding: 0;
}
.cid-scT4b1gFXH .card-title,
.cid-scT4b1gFXH .mbr-section-subtitle {
  color: #232323;
}
.cid-scT5111diy {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("../../../assets/images/best-beach-towns-mexico-tulum-1600x900.jpg");
}
.cid-scT5111diy .mbr-section-title {
  margin-bottom: 35px;
}
.cid-scT5111diy .mbr-section-title b,
.cid-scT5111diy .mbr-section-title strong {
  font-weight: 500;
}
@media (max-width: 1024px) {
  .cid-scT5111diy .figure:before {
    width: 89px;
    height: 89px;
    top: -55px;
    left: -18px;
  }
}
.cid-sdjJ90YZjS {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-sdjJ90YZjS H1 {
  color: #232323;
}
.cid-sdjJ90YZjS .mbr-text,
.cid-sdjJ90YZjS .mbr-section-btn {
  color: #ffffff;
}
.cid-sdjJ90YZjS .img-box {
  position: relative;
}
.cid-sdjJ90YZjS .card-ico span {
  font-size: 96px;
  color: #3a6686;
  padding: 0.6rem;
  margin-right: 1.5rem;
  border-radius: 8px;
}
.cid-sdjJ90YZjS .card-ico .ico1 {
  background-color: #4249cc;
}
.cid-sdjJ90YZjS .mbr-iconfont {
  transition: all 0.3s;
  color: #ffffff !important;
  font-size: 1rem !important;
}
.cid-sdjJ90YZjS .card {
  display: flex;
  flex-direction: row;
  max-width: 350px;
}
.cid-sdjJ90YZjS .img1 {
  position: absolute;
  top: 0;
  right: 3rem;
  z-index: 1;
}
.cid-sdjJ90YZjS .img2 {
  position: absolute;
  bottom: 0;
  left: 3rem;
  z-index: 2;
}
.cid-sdjJ90YZjS img {
  width: 48%;
  border-radius: 10px;
  box-shadow: 0 10px 55px 5px rgba(245, 84, 75, 0.35);
}
@media (max-width: 992px) {
  .cid-sdjJ90YZjS .img-box {
    height: 500px;
  }
  .cid-sdjJ90YZjS .img2 {
    left: 1rem;
  }
  .cid-sdjJ90YZjS .img1 {
    right: 1rem;
  }
  .cid-sdjJ90YZjS img {
    width: 50%;
  }
}
@media (max-width: 576px) {
  .cid-sdjJ90YZjS img {
    width: 60%;
  }
  .cid-sdjJ90YZjS .img-box {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .cid-sdjJ90YZjS .author-box {
    justify-content: center;
  }
  .cid-sdjJ90YZjS .card {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0!important;
  }
  .cid-sdjJ90YZjS .card .card-ico {
    margin-bottom: 2rem;
  }
  .cid-sdjJ90YZjS .card:hover {
    box-shadow: none;
    transform: none;
  }
  .cid-sdjJ90YZjS .card-ico span {
    margin-right: 0rem;
  }
}
.cid-sdjJ90YZjS .author-box {
  display: flex;
  flex-direction: row;
}
.cid-sdjJ90YZjS .face {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  box-shadow: none;
  margin: 0rem;
}
.cid-sdjJ90YZjS .author {
  padding-left: 2rem;
  margin: auto 0;
}
.cid-sdjJ90YZjS h3,
.cid-sdjJ90YZjS h4 {
  margin: 0;
  padding: 0;
}
.cid-sdjJ90YZjS .card-title,
.cid-sdjJ90YZjS .mbr-section-subtitle {
  color: #232323;
}
.cid-scT6p6Q4Zn {
  background-color: #030303;
}
.cid-scT6p6Q4Zn .back {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background-color: #030303;
}
.cid-scT6p6Q4Zn img {
  width: 100%;
}
.cid-scT6p6Q4Zn p {
  margin-top: 6rem;
}
.cid-scT6p6Q4Zn .content-wrapper {
  max-width: 750px;
  margin: auto;
  position: relative;
  padding: 0 2rem;
}
.cid-scT6p6Q4Zn h4 {
  position: absolute;
  transform: rotate(-270deg);
  transform-origin: bottom right;
  width: fit-content;
  padding: 0;
  margin: 0;
  right: 6rem;
  bottom: 0;
}
@media (max-width: 1200px) {
  .cid-scT6p6Q4Zn .content-wrapper {
    padding-top: 0rem;
  }
  .cid-scT6p6Q4Zn p {
    margin-top: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-scT6p6Q4Zn .back {
    width: 100%;
    height: 75%;
  }
  .cid-scT6p6Q4Zn .content-wrapper {
    padding: 0 3rem;
    padding-top: 4rem;
  }
  .cid-scT6p6Q4Zn p {
    margin-top: 4rem;
  }
}
@media (max-width: 767px) {
  .cid-scT6p6Q4Zn .content-wrapper {
    padding: 0rem;
    padding-top: 4rem;
  }
  .cid-scT6p6Q4Zn h4 {
    right: 2rem;
  }
}
.cid-scT1FwTGJH {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-scT1FwTGJH a {
  color: #232323;
}
.cid-scT1FwTGJH a:hover {
  color: #3a6686;
}
.cid-scT1FwTGJH h5.mbr-text {
  color: #444444;
}
.cid-scT1FwTGJH .card {
  padding: 1rem 2rem;
}
.cid-scT1FwTGJH .card img {
  position: relative;
  width: 50%;
  border-radius: 50%;
}
.cid-scT1FwTGJH .card-title {
  color: #ffffff;
  padding-bottom: 1rem;
  margin-bottom: 0;
  text-align: center;
}
.cid-scT1FwTGJH .card-box p {
  margin-bottom: 0;
}
.cid-scT1FwTGJH .specialty {
  padding-top: .5rem;
}
.cid-scT1FwTGJH .social-links {
  padding-top: .5rem;
}
.cid-scT1FwTGJH .mbr-iconfont {
  font-size: 20px;
  color: #444444;
}
@media (min-width: 992px) {
  .cid-scT1FwTGJH .my-col {
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
  }
}
.cid-scT1FwTGJH P {
  text-align: center;
  color: #ffffff;
}
.cid-scT1FwTGJH H2 {
  color: #ffffff;
}
.cid-scT1FwTGJH H3 {
  color: #ffffff;
  text-align: left;
}
